@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  @variants responsive {
    /* Hide scrollbar for Chrome, Safari and Opera */
    .no-scrollbar::-webkit-scrollbar {
        display: none;
    }

    /* Hide scrollbar for IE, Edge and Firefox */
    .no-scrollbar {
        -ms-overflow-style: none;  /* IE and Edge */
        scrollbar-width: none;  /* Firefox */
    }
  }
}

.dydx-journal-header {
  text-shadow: 0px 0px 100px #000;
  font-family: "SF Pro Display";
  @apply text-secondary text-2xl sm:text-4xl leading-normal font-black;
}

.dydx-analytics-header {
  text-shadow: 0px 0px 100px #000;
  font-family: "SF Pro Display";
  @apply text-secondary text-2xl sm:text-4xl leading-normal font-black;
}